/**
 * Defines a config file for the bot.
 */
export interface IConfig {
    /**
     * Oauth key which is used for Twitch API.
     * **Optional.**
     */
    apiOauth?: string;
    /**
     * Oauth key which is used for Twitch chat. Get it from http://twitchapps.com/tmi/
     */
    chatOauth: string;
    /**
     * Client id which is required for the Twitch API.
     * **Optional.**
     */
    clientId?: string;
    /**
     * User id for the bot to login with.
     */
    username: string;
    /**
     * Defult prefix for the bot.
     */
    defaultPrefix: string;
}

const config: IConfig = {
    apiOauth: "your oauth token per user",
    chatOauth: "get one from http://twitchapps.com/tmi",
    clientId: "your api client id",
    defaultPrefix: "->",
    username: "twitch username",
}

export default config;
